<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <h2>Your Request Has been submitted successfully. We will contact you soon on your provided email</h2>
    <p>You will be redirect to home page shortly</p>
</body>
<script>
    setTimeout(() => {
        window.location.href = '/';
    }, 5000);
</script>
</html>